<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>上线物资</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin">疫情管理系统</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div> -->
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <!-- <a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" href="#">登出</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">物资</div>
                        <a class="nav-link" href="/admin">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            物资申领系统
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">所在位置:</div>
                    物资申领-上线物资
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h2 class="mt-4">上线物资</h2>
                    <br />
                    <form  action='/users/sxwz' method="POST" >
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group"><label class="small mb-1" for="请输入物资名称">物资名称</label><input class="form-control py-4" name='name' type="text" placeholder="请输入物资名称" /></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><label class="small mb-1" for="请输入物资编号">物资编号</label><input class="form-control py-4" name='id' type="text" placeholder="请输入物资编号" /></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group"><label class="small mb-1" for="请输入物资数量">物资数量</label><input class="form-control py-4" name='total' type="number" placeholder="请输入物资数量" /></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group"><label class="small mb-1" for="上线日期">上线日期</label><input class="form-control py-4" name='open_date' type="date" placeholder="请输入上线日期" /></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><label class="small mb-1" for="截止日期">截止日期</label><input class="form-control py-4" name='end_date' type="date" placeholder="请输入截止日期" /></div>
                            </div>
                        </div>
                        <label class="small mb-1" for="功能描述">功能描述</label>
                        <textarea class="form-control" name="description" rows="3" placeholder="请输入该物资的功能描述"></textarea>
                    </br>
                        <span class="help-block">
                            若上线日期晚于当前日期，视作延迟发布该物资
                        </span>
                        <div class="form-row">
                            <div class="form-group mt-4 mb-0 col-md-6"><input class="btn btn-success btn-block" type='submit' /></div>
                            <div class="form-group mt-4 mb-0 col-md-6"><a class="btn btn-danger btn-block" href="/admin">取消</a></div>
                        </div>

                    </form>

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; 2020-软件工程基础-G5</div>
                        <div>
                            <a href="#">隐私政策</a>
                            &middot;
                            <a href="#">条款 &amp; 事件</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>


</body>
</html>
